<!-- subtitle for this page specficially -->
<% content_for(:subtitle) do %>Contact Us Directly<% end %>

<!-- begin contact us directly information -->
<p>The fastest and most modern way to get us working on your project is to <%= link_to 'order a redesign direclty on this website', order_path %>. <br>
But if you'd like more information before ordering, our contact information is as follows...</p>

<h2>Contact us by email</h2>
<p>Code@ResponsiveRedesign.io</p>

<h2>Contact us by phone</h2>
<p>+1.917.727.7206</p>
<p>Yes, we text.</p>

<h2>Follow us on social</h2>
<p><%= render 'layouts/social_media' %></p>
