<!-- subtitle for this page specficially -->
<% content_for(:subtitle) do %>Contact Us Directly<% end %>

<br><br>
<h2 class="orange">Order&nbsp;a&nbsp;Website Redesign</h2>
<!-- insert image to begin this site -->
<div class="row">
    <div class="common-questions col-xs-12 col-sm-offset-1 col-sm-5 col-md-offset-2 col-md-4 row text-center">
    	<h3>Email Us To Order</h3>
		<p>Code@ResponsiveRedesign.io</p>
    </div>
    <div class="common-questions col-xs-12 col-sm-5 col-md-4 row text-center">
    	<h3>Text Us To Order</h3>
		<p>+1.917.727.7206</p>
    </div>
</div><!-- end .row -->
<br><br>
