<!-- subtitle for this page specficially -->
<% content_for(:subtitle) do %>Contact Us Directly<% end %>
<br><br>

<!-- insert image to begin this site -->
<div class="container">
	<h1 class="text-center animated fadeInDown delay-03s">Order&nbsp;a&nbsp;Website Design&nbsp;/&nbsp;Redesign</h1>
	<!-- the following area is hidden -->
	<div class="hidden row animated fadeInDown delay-03s">
		<p class="col-lg-offset-1 col-lg-10 col-md-12">To begin, we will need to know as much as you can tell us about your project, including:</p> 
		<ul class="col-lg-offset-2 col-lg-9 col-md-10 col-md-offset-1 col-sm-offset-1 col-xs-12">
			<li>links to any existing and relevant websites</li>
			<li>what the core purpose of the website is that you want to build</li>
			<li>your timeline for getting this done</li>
		</ul>
	</div><!-- end .row -->
	<!-- end hidden area -->
	<h3 class="orange animated fadeIn delay-03s">Either Contact Us Directly</h3>
	<div class="row animated fadeIn delay-03s">
	    <div class="col-xs-12 col-sm-offset-1 col-sm-5 col-md-offset-2 col-md-4 row text-center">
	    	<br><br>
	    	<%= image_tag("flaticons/smartphone-black.png") %>
	    	<!-- thse are color #FA8B49 -->
	    	<!-- <div>Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div> -->
	    	<h3>Text Us</h3>
			<p>+1.917.727.7206</p>
	    </div>
	    <div class="col-xs-12 col-sm-5 col-md-4 row text-center">
	    	<br><br>
	    	<%= image_tag("flaticons/email-black.png") %>
	    	<!-- <div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div> -->
	    	<h3>Email Us</h3>
			<p>Code@ResponsiveRedesign.io</p>
	    </div>
	</div><!-- end .row -->
	<hr>
	<div class="row animated fadeInUp delay-03s">
		<h3 class="orange">Or Just Order Work Immediately</h3>
		<br>
		<div class="text-center animated fadeInUp delay-07s">
			<%= image_tag("flaticons/flaticon-shopping-cart-Darius-Dan.png", class: "animated fadeInDown delay-07s") %>
		</div>
		<%= render 'layouts/submit_contact_agile_form' %>
	</div><!-- agile form code -->
</div><!-- end .container -->
<br><br>