<!-- provide custom subtitle for each page -->
<% content_for(:subtitle) do %>Working Details<% end %>

<!-- this page will not be used for a while. Portfolio site will be used instead. -->
<!-- content was erased -->

	<br>
	<div class="text-center">
		<button class="btn btn-default btn-lg delay-09s animated fadeIn">
			<%= link_to "Order A Website Now", contact_us_path %>
		</button>
	</div>
</div><!-- end .container