<!-- provide custom subtitle for each page -->
<% content_for(:subtitle) do %>Working Details<% end %>

<br>
<h2>We Work With 4 Main Project Types</h2>
<div class="container">
	<section>
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
				<h3 class="orange">A Standard Redesign</h3>
				<p>
					<strong>Description:</strong> We use our custom pre-designed components as the foundation to put together a new and custom website for you from scratch. Fastest and cheapest.
					<br>
					<strong>Rate:</strong> Flat rate, ranging between $2,000 USD and $5000 USD. Most projects end up being a flat rate of $3500 USD.
					<br>
					<strong>Timing:</strong> Typcially, 1 week of development.
				</p>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
				<h3 class="orange">A Custom Redesign</h3> 
				<p>
					<strong>Description:</strong> You work with us to design a new custom website built from scratch that is ultra specific to your business. The purest way to get a new site catered to your needs.
					<br>
					<strong>Rate:</strong> Flat rate, ranging between $2,000 USD and $5000 USD. Most projects end up being a flat rate of $4000 USD.
					<br>
					<strong>Timing:</strong> Typcially, 1 week of development.
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
				<h3 class="orange">Template Editing</h3>
				<p>
					<strong>Description:</strong> We edit an existing website's code (ecommerce or not) to become as mobile responsive as the template will allow.
					<br>
					<strong>Rate:</strong> $70/hour, 2 your minimum. Don't worry; we work fast. 
					<br>
					<strong>Timing:</strong> Typcially, a 1-3 day turnaround upon request.
				</p> 
			</p>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
				<h3 class="orange">Usability Consulting</h3> 
				<p><strong>Description:</strong> We have a breif but detailed conversation with you about your business product and goals. Then we make a website plan that streamlines it toward your brand.  <br>You may then take this to your current developer or designer, you may do it yourself, or you may simply keep it as a plan for the future.<br>
				<strong>Rate:</strong> $250/hour, 2 your minimum. 15-30 minute call with you, plus the write up. <br>
				<strong>Timing:</strong> Typically, between 2-4 hours.</p>
			</div>
		</div><!-- end .row -->
		<!-- insert a mobile responsive table with project type, pricing, a timeline of it, and a portfolio item example of it. Easier for a client to read. -->
	</section>

	<br>
	<section class="text-center">
		<button class="btn btn-default btn-lg delay-09s animated fadeIn">
			<%= link_to "Order A Website Now", contact_us_path %>
		</button>
	</section>
</div><!-- end .container -->