<!-- provide custom subtitle for each page -->
<% content_for(:subtitle) do %>FAQ<% end %>

<h1>Frequntly Asked Questions</h1>

<section id="faq-section">
	<div class="question">
		Question 1 TODO
	</div>
	<div class="answer">
		Answer 1 TODO
	</div>

	<div class="question">
		Question 2 TODO
	</div>
	<div class="answer">
		Answer 2 TODO
	</div>

	<div class="question">
		Question 3 TODO
	</div>
	<div class="answer">
		Answer 3 TODO
	</div>	

</section>