<!-- provide custom subtitle for each page -->
<% content_for(:subtitle) do %>Mobile Responsive Design and Development<% end %>

<div class="banner-area hidden"> 
    <div class="opaque-overlay">
        <div class="inner-container">
            <div class="hotwords-container">
                <p>Mobile Friendly | 
                Rapid&nbsp;Development | 
                High&nbsp;Quality | 
                Modern&nbsp;Code |
                Affordable
                <h2 class="banner-text">Mobile&nbsp;Responsive, Custom&nbsp;Websites</h2>
                <h2 class="banner-text orange hidden">Built&nbsp;By&nbsp;Web&nbsp;Designers You&nbsp;Can&nbsp;Trust</h2>
                Integrity | 
                Modern&nbsp;Web&nbsp;Design | 
                Design&nbsp;In&nbsp;A&nbsp;Week | 
                Your&nbsp;Brand | 
                Custom&nbsp;Design |  
                Raw&nbsp;Code | 
                Make&nbsp;It&nbsp;Yours
                </p>
            </div>            
            <span class="hidden-lg hidden-md hidden-sm"><br></span>

        </div><!-- end .inner-container so that we can have padding on the rest of it -->
    </div>
    <!-- end .opaque-overlay -->
</div><!-- end .banner-area -->
<div class="banner-image-area">
    <h1 class="banner-text-1">Mobile&nbsp;Responsive,</h1>
    <h1 class="banner-text-2">Custom&nbsp;Websites</h1>
    <div class="banner-image-area-overlay">
    </div>
</div><!-- end banner image area -->
<div id="center-main-section" class="text-left">
    <h3 class="text-center orange">Commonly Asked</h3>
    <div class="row">
        <div class="common-questions col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
            <br>
            <div class="explanation">
                <p class="short-form-question">What is responsive design?</p><p class="short-form-answer">Web design that looks good on any device at any width.</p>
                <p class="short-form-question">How fast can it be done?</p><p class="short-form-answer">Average development time = One week.</p>
                <p class="short-form-question">How custom is it?</p><p class ="short-form-answer">In a code editor, with help from our pre-designed, modern templates.</p>
                <p class="short-form-question">Is it affordable?</p><p class ="short-form-answer">We think so. Our prices are often 30% below other American agencies.
                <p class="short-form-question">Is it up to date?</p><p class ="short-form-answer">We code from scratch and use HTML5, CSS3, jQuery, Bootstrap, and our own custom templates.</p>
                <p class="short-form-question">Where is it made?</p><p class ="short-form-answer">We are headquartered in New York City.</p>
                <p class="short-form-question">What kind of service do I get?</p><p class ="short-form-answer">Our founder is available by appointment and would love to speak with you.</p>
            </div>            
            <div class="text-center">
                <%= link_to "Order A Website Now", contact_us_path, class: "btn btn-default btn-lg" %>
            </div>
           <div id="banner-icon">
                <%= image_tag('coding.png') %>  
            </div>             
        </div>
    </div><!-- end .row -->
</div><!-- end #center-main-section -->



