<!-- provide custom subtitle for each page -->
<% content_for(:subtitle) do %>All About Responsive Redesign<% end %>


<!-- todo unhide this section -->
<div id="center-main-section" class="text-left">   
 <!-- todo I think the delays aren't installed yet js -->
    <!-- <h1 class="animated delay-05s fadeInRight" alt="Responsive Design">Responsive Redesign</h1> -->
    <!-- todo why isn't h2 fading? -->
   <!--  <h2 class="animated delay-07s fedeInRight">Your existing site design, <br>modernized,<br> and made mobile responsive in a week or less.</h2> -->
<!-- 
    <p class="text-center">
        <a href="#">Download the PDF</a>
    </p> -->
    <div class="jumbotron">

            <div class="image-center">
                <%= image_tag('coding.png') %>
                 <!--    <div>Icons made by <a href="https://www.flaticon.com/authors/becris" title="Becris">Becris</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div> -->
            </div>
            <h2>Mobile Responsive, Custom Websites.<br>
                Fast.<br>
                <span class="hidden-lg hidden-md hidden-sm"><br></span>
            </h2>
    </div>
    <br>
    <h3 class="text-center">Common Questions</h3>
    <div class="row">
        <div class="common-questions col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
            <br>
            <div class="explanation">
                <p class="short-form-question">How fast?</p><p class="short-form-answer">Average development time = One week.</p>
                <p class="short-form-question">How custom?</p><p class ="short-form-answer">In a code editor, with help from our pre-designed, modern templates.</p>
                <p class="short-form-question">Is it affordable?</p><p class ="short-form-answer">We think so. <%= link_to "Click here for Pricing.", pricing_path %></p>
                <p class="short-form-question">Is it current?</p><p class ="short-form-answer">We code from scratch and use HTML5, CSS3, jQuery, Bootstrap, and our own custom templates.</p>
                <p class="short-form-question">Is it made locally?</p><p class ="short-form-answer">We are headquartered in New York City.</p>
                <p class="short-form-question">What kind of service do I get?</p><p class ="short-form-answer">Our founder is available by appointment and would love to speak with you.</p>

            </div>
            <div class="text-center">
                <button class="btn btn-default btn-lg delay-09s animated fadeIn"><%= link_to "Order A Website Now", new_order_path %></button>
            </div>
        </div>
    </div><!-- end .row -->
</div><!-- end #center-main-section -->
<!-- begin left side of the site -->
<!-- below is for upeer left section -->
<section id="why-responsive">
    <h2 class="wow animated delay-11s fadeIn white">Why is mobile responsive so important?</h2>
    <div class="row">
        <div class="lighter-background-1 full-width-area">
            <h3 class="orange">Static&nbsp;Websites Damage&nbsp;Sales</h3>
            <br>
            <div class="paragraph-fact lean-left">
                <p><span class="funky-font-styling">55%</span><br> 
                    of all e-commerce interactions <br>
                    take place on smartphones</p>
            </div><!-- end .paragraph-text -->
            <div class="paragraph-fact lean-right">
                <p><span class="funky-font-styling">69%</span><br> of customers prefer to order online <br>than over the phone </p>
            </div><!-- end .paragraph-text -->
            <div class="paragraph-fact lean-left">                
                <p><span class="funky-font-styling">50%</span><br> of customers
                    actually leave a site <br>
                    when they see it's<br> 
                not mobile responsive</p>
            </div><!-- end .paragraph-text -->
            <div class="paragraph-fact lean-right">
                <p><span class="funky-font-styling">1&nbsp;/&nbsp;3</span><br> 
                    of customers
                    abandon a purchase <br>
                    due to the annoyance <br>
                    of static sites</p>
            </div><!-- end .paragraph-text -->
        </div>
        <div class="lighter-background-2 full-width-area">
            <h3 class="orange">Benefits&nbsp;Of Responsive&nbsp;Websites</h3>
            <br>
            <span class="near-white">
                <div class="paragraph-fact lean-left">
                    <p>Reduce your <br>
                        <span class="funky-font-styling-2">bounce rate</span> <br>
                        to less than 20%</p>
                </div><!-- end .paragraph-text -->
                <div class="paragraph-fact lean-right">
                    <p>Customers see you <br>
                        as a <span class="funky-font-styling-2">modern</span> company.</p>
                </div><!-- end .paragraph-text -->
                <div class="paragraph-fact lean-left">                
                    <p>Customers can interact <br>
                        with you <span class="funky-font-styling-2">impulsively</span>, <br>
                        wherever they are.</p>
                </div><!-- end .paragraph-circle -->
            </div><!-- end span.near-white -->
        </div><!-- end .col -->
    </div><!-- end .row -->
</section><!-- end #why-responsive -->
    
    <!-- testimonials or articles sections will follow -->


    <!-- Put your page content here! -->



