<!-- provide custom subtitle for each page -->
<% content_for(:subtitle) do %>All About Responsive Redesign<% end %>


<!-- todo unhide this section -->
<div id="center-main-section" class="text-left">   
 <!-- todo I think the delays aren't installed yet js -->
    <!-- <h1 class="animated delay-05s fadeInRight" alt="Responsive Design">Responsive Redesign</h1> -->
    <!-- todo why isn't h2 fading? -->
   <!--  <h2 class="animated delay-07s fedeInRight">Your existing site design, <br>modernized,<br> and made mobile responsive in a week or less.</h2> -->
<!-- 
    <p class="text-center">
        <a href="#">Download the PDF</a>
    </p> -->
    <h2>We&nbsp;only&nbsp;make mobile responsive websites. <br><br>Fast &amp; Custom.</h2>
    <br>
    <div class="row" id="website-standards">
        <div class="col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-5 col-md-offset-2 col-md-4 col-lg-offset-2 col-lg-4 wow animated delay-11s fadeInLeft">
            <p>This means there will be:
                <ul>
                    <li>No logo redesigns</li>
                    <li>No content generation</li>
                    <li>No user testing</li>
                    <li>No wireframes</li>
                    <li>No mobile apps</li>
                </ul>
            </p>
        </div>
        <div class="col-xs-offset-1 col-xs-0 col-sm-5 col-md-4 col-lg-4 wow animated delay-11s fadeInLeft">
            <p>And your website will be:
                <ul>
                    <li>Mobile responsive</li>
                    <li>Gramatically correct</li>
                    <li>Easy to use</li>
                    <li>Written in custom code</li>
                    <li>Future-ready</li>
                </ul>
            </p>
        </div><!-- end .col -->
    </div><!-- end .row -->
    <div class="text-center">
        <button class="btn btn-default btn-lg delaty-09s animated fadeIn"><%= link_to "Order A Website", new_order_path %></button>
    </div>
</div><!-- end #center-main-section -->

<!-- begin left side of the site -->
<!-- below is for upeer left section -->
<section id="why-responsive">
    <h2 class="wow animated delay-11s fadeIn">Why is mobile responsive so important?</h2>
    <div class="row">
        <div class="lighter-background-3 full-width-area">
            <h3>Static Websites Damage Sales</h3>
            <div class="paragraph-fact text-left">
                <p>55% <br>
                    of all e-commerce interactions <br>
                    take place on smartphones</p>
            </div><!-- end .paragraph-text -->
            <div class="paragraph-fact text-right">
                <p>69% of customers <br>prefer to order online <br>than over the phone </p>
            </div><!-- end .paragraph-text -->
            <div class="paragraph-fact text-left">                
                <p>50% of customers <br>
                    actually leave a site <br>
                    when they see it's<br> 
                not mobile responsive</p>
            </div><!-- end .paragraph-text -->
            <div class="paragraph-fact text-right">
                <p>1&nbsp;/&nbsp;3 customers <br>
                    abandon a purchase <br>
                    due to the annoyance <br>
                    of static sites</p>
            </div><!-- end .paragraph-text -->
        </div>
        <div class="lighter-background-2 full-width-area">
            <h3>Benefits Of Responsive Websites</h3>
            <div class="paragraph-fact text-left">
                <p>Reduce your <br>
                    <b>bounce rate</b> <br>
                    to less than 20%</p>
            </div><!-- end .paragraph-text -->
            <div class="paragraph-fact text-right">
                <p>Customers see you <br>
                    as a modern company.</p>
            </div><!-- end .paragraph-text -->
            <div class="paragraph-fact text-left">                
                <p>Customers can interact <br>
                    with you impulsively, <br>
                    wherever they are.</p>
            </div><!-- end .paragraph-circle -->
        </div><!-- end .col -->
    </div><!-- end .row -->
</section><!-- end #why-responsive -->

    
       
        





    <!-- testimonials or articles sections will follow -->


    <!-- Put your page content here! -->



