<!-- provide custom subtitle for each page -->
<% content_for(:subtitle) do %>All About Responsive Redesign<% end %>

<div id="center-main-section" class="text-left">   
    <div class="banner-area">
        <div class="background-image-section">
            <%= image_tag('pexels-photo-546157.jpg') %>
        </div>
        <div class="image-center atop-banner">
            <%= image_tag('coding.png') %>
             <!--    <div>Icons made by <a href="https://www.flaticon.com/authors/becris" title="Becris">Becris</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div> -->
        </div>
        <h2>Mobile Responsive, Custom Websites.<br>
            Fast.<br>
            <span class="hidden-lg hidden-md hidden-sm"><br></span>
        </h2>
    </div><!-- end .jumbotron -->
    <br>


    <h3 class="text-center">Common Questions</h3>
    <div class="row">
        <div class="common-questions col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
            <br>
            <div class="explanation">
                <p class="short-form-question">How fast?</p><p class="short-form-answer">Average development time = One week.</p>
                <p class="short-form-question">How custom?</p><p class ="short-form-answer">In a code editor, with help from our pre-designed, modern templates.</p>
                <p class="short-form-question">Is it affordable?</p><p class ="short-form-answer">We think so. Our prices are often 30% below other American agencies.
                <p class="short-form-question">Is it current?</p><p class ="short-form-answer">We code from scratch and use HTML5, CSS3, jQuery, Bootstrap, and our own custom templates.</p>
                <p class="short-form-question">Is it made locally?</p><p class ="short-form-answer">We are headquartered in New York City.</p>
                <p class="short-form-question">What kind of service do I get?</p><p class ="short-form-answer">Our founder is available by appointment and would love to speak with you.</p>
            </div>
            <div class="text-center">
                <button class="btn btn-default btn-lg delay-09s animated fadeIn"><%= link_to "Order A Website Now", contact_us_path %></button>
            </div>
        </div>
    </div><!-- end .row -->
</div><!-- end #center-main-section -->



