<!-- provide custom subtitle for each page -->
<% content_for(:subtitle) do %>All About Responsive Redesign<% end %>


<!-- todo unhide this section -->
<div id="center-main-section" class="text-left">   
 <!-- todo I think the delays aren't installed yet js -->
    <!-- <h1 class="animated delay-05s fadeInRight" alt="Responsive Design">Responsive Redesign</h1> -->
    <!-- todo why isn't h2 fading? -->
   <!--  <h2 class="animated delay-07s fedeInRight">Your existing site design, <br>modernized,<br> and made mobile responsive in a week or less.</h2> -->
<!-- 
    <p class="text-center">
        <a href="#">Download the PDF</a>
    </p> -->



    <h3 class="animated delay-07s fadeInLeft align-left">THE INTERNET SHOULD BE BEAUTIFUL EVERYWHERE
    </h3>

    <br>
    <div class="row">
        <div class="col-md-6 wow animated delay-11s fadeInLeft" id="website-standards">
            <p>To us, that means your website is
                <ul>
                    <li>Mobile responsive</li>
                    <li>Gramatically correct</li>
                    <li>Easy to use, as you want it used</li>
                    <li>Doing some good sales work for you</li>
                    <li>Based in modern and reusable code</li>
                </ul>
            </p>
        </div><!-- end .com -->
        <div class="col-md-6">
            <button class="btn btn-default btn-lg delaty-09s animated fadeIn"><%= link_to "Order a Website Redesign Now", new_order_path %></button>
        </div><!-- end .col -->
    </div>

</div><!-- end #center-main-section -->

<!-- begin left side of the site -->
<!-- below is for upeer left section -->
<section id="why-responsive">
    <h2 class="wow animated delay-11s fadeIn">Why is mobile responsive so important?</h2>

    <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12">
            
            <div class="section-icon-div">
                <%= image_tag('flaticons/icon-throw-away-money-6pt-orange.png', class: "section-icon-size") %>
                <!-- Icon made custom by Virgo Ventures LLC -->
            </div>
          
            <h3>Static Websites Damage Sales</h3>
            <div class="paragraph-text">
                <p>55% <br>of all e-commerce interactions taking place on smartphones</p>
                <p>69% <br>of customers prefer to order online than over the phone </p>
                <p>50% <br> of customers actually leave a site when they see it's not mobile responsive</p>
                <p>1&nbsp;/&nbsp;3 <br>customers abandon a purchase due to the annoyance of static sites</p>
                
            
            </div><!-- end .paragraph-text -->

        </div><!-- end .col -->
        <div class="col-md-6 col-sm-12 col-xs-12">

            <div class="section-icon-div">
                <%= image_tag('flaticons/icon-responsive-site-benefits-orange.png', class: "section-icon-size") %>
                <!-- Icon made custom by Virgo Ventures LLC -->
            </div>                    
            <h3>Benefits Of Responsive Websites</h3>
            <div class="paragraph-text">

                <p>Reduce your <b>bounce rate</b> to less than 20%</p>

                <p>Users see you as a modern company.</p>

                <p>Customers can interact with you impulsively, wherever they are.</p>

            </div><!-- end .paragraph-text -->
        </div><!-- end .col -->
    </div><!-- end .row -->

</section><!-- end #why-responsive -->

    
       
        





    <!-- testimonials or articles sections will follow -->


    <!-- Put your page content here! -->



