<div class="container">

	<h1>Learn More About Responsive Design</h1>

	<section>
		<h2>New Website Quality Checklist</h2>
		<p class="text-center">We use this checklist with all of our custom designed websites.</p>
		<ul class="row">
			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
				<h3 class="orange">Style</h3>
				<li>Mobile responsive (not just mobile adaptive)</li>
			</div><!-- end .col -->
			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
				<h3 class="orange">Quality</h3>
				<li></li>
			</div><!-- end .col -->
			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
				<h3 class="orange">Data</h3>
				<li></li>
			</div><!-- end .col -->
		</ul>
		<br>
	    <div class="text-center">
	        <button class="btn btn-default btn-lg delay-09s animated fadeIn"><%= link_to "Order A Website Now", contact_us_path %></button>
	    </div>

	</section>

</div><!-- end .container -->