<!-- subtitle for this page specifically -->
<% content_for(:subtitle) do %>Quality Checklist<% end %>

<div class="container">

	<!-- <h1>Learn More About Responsive Design</h1> -->
	<h1>New Website Quailty Checklist</h1>

	<section>
		<!-- <h2>New Website Quality Checklist</h2> -->
		<p class="text-left p-tagline">We use this checklist with all of our custom designed websites.</p>
		<ul class="row">
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
				<h3 class="orange">Basic Styling</h3>
				<li>Mobile responsive (not just mobile adaptive)</li>
				<li>Navigation links are hidden if larger than 3 items</li>
				<li>Navigation links are visible if only 1 or 2 items</li>
				<li>Navigation is fixed to the top</li>
				<li>Hamburger icon does not have a border around it</li>
				<li>If in-brand, hamburger icon has "Menu" written within the icon</li>
				<li>Footer is organized into columns, organized by content type</li>
				<li>Background colors bleed to screen edges when possible</li>
				<li>There is one main purpose and action on each page throughout the site</li>
				<li>Buttons are large and obvious</li>
				<li>Print styling looks nice too</li>
				<li>Form input fields look visually inviting</li>
				<li>Form input fields have brand-appropriate border colors</li>
				<li>Buttons show styling variation when hovered over</li>
				<li>Button hover transition is gradual and flows well</li>
				<li>Content fits in content boxes for all screen sizes</li>
			</div><!-- end .col -->
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
				<h3 class="orange">Quality</h3>
				<li>Text is legible without screen zooming or pinching</li>
				<li>Logo is legible without zooming in</li>
				<li>Footer has all links in navigation, and more</li>
				<li>Logo is replicated in the footer</li>
				<li>Logo links to home page in the navigation and the footer</li>
				<li>No text touches the edge of the screen</li>
				<li>Buttons creatively describe the action that they do</li>
				<li>Contact Us page is easily available</li>
				<li>Drop downs work properly and repeatedly</li>
				<li>Column grid layouts are used instead of tables for responsive design when possible</li>
				<li>Forms send information to desired location</li>
				<li>Error pages are stylized within brand</li>
				<li>Images render the proper size</li>
				<li>Mobile responsive images crop to target area of image</li>
				<li>If a map is present, it fits within the width of the page</li>
				<li>Icons display on all devices and browser sizes</li>
				<li>Modals have fading in/out transitions</li>
				<li>Modal information loads properly</li>
				<li>Modal auto-closes when desired</li>
				<li>Any auto-scrolling happens gradually</li>
				<li>All links work, and lead to the appropriate page</li>

			</div><!-- end .col -->
			<div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-0 col-md-4 col-lg-offset-0 col-lg-4">
				<h3 class="orange">Data</h3>
				<li>Use tabs, not spaces, when possible</li>
				<li>HTML5 tags are used (rather than older HTML)</li>
				<li>HTML is indented according to the DOM tree</li>
				<li>Key content boxes are closed with informative code comments</li>
				<li>CSS3 is used, SASS if possible</li>
				<li>The CSS file is organized first by purpose, then alphabetically</li>
				<li>Inline CSS is almost never used</li>
				<li>CSS files are names for their purpose</li>
				<li>Input fields placeholder text is informative and not too long</li>
				<li>URLs are custom and named with dashes, not underscores</li>
				<li>Images have SEO-friendly alt tags</li>
				<li>Social media icons are present via SVG image, an in-brand color, and are external links to appropriate pages</li>
				<li>Pages have custom "Tile | Subtitile"</li>
				<li>Page description is present and accurate</li>
				<li>Coding company contact info and month of work can be found commented in the stylesheet</li>
				<li>404 and other error pages are present</li>
				<li>Favicon is present</li>
				<li>Text is proofread for typos and bad grammar</li>
				<li>Site is submitted to Google search engine crawler</li>
				<li>Google Analytics code is input for tracking if desired</li>
			</div><!-- end .col -->
		</ul>
		<br>
	    <div class="text-center">
	        <button class="btn btn-default btn-lg delay-09s animated fadeIn"><%= link_to "Order A Website Now", contact_us_path %></button>
	    </div>

	</section>

</div><!-- end .container -->