<!-- provide custom subtitle for each page -->
<% content_for(:subtitle) do %>Your Options For Building A New Website<% end %>



<section class="background-alt-color" id="center-main-section" class="text-left animated fadeInUp delay-09s">
    <div class="text-center animated fadeInUp delay-09s">
        <%= image_tag("flaticons/flaticon-faq-freepik.png") %>
    </div>
    <h3 class="text-center orange animated fadeInUp delay-09s">Frequently Asked Questions</h3>
    <div class="row animated fadeInUp delay-03s">
        <div class="common-questions col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
            <br>
            <div class="explanation">
                <p class="short-form-question">What is responsive design?</p><p class="short-form-answer">Web design that looks good on any device, at any width.</p>
                <p class="short-form-question">How fast can it be done?</p><p class="short-form-answer">Average total design + development time = One month.</p>
                <p class="short-form-question">How custom is it?</p><p class ="short-form-answer">In a code editor, with help from our pre-designed, modern templates.</p><p class ="short-form-answer">No, we don't just piece together random bits of code found online, like many cheap offshore agencies.</p>
                <p class="short-form-question">Is it affordable?</p><p class ="short-form-answer">We think so. Though we started off dirt cheap in 2016, and as we've grown, we've become more and more able to commit to work with quality clients that value authenticity, trust, quality of design, and efficiency.  
                <p class="short-form-question">Is it up to date?</p><p class ="short-form-answer">We code from scratch when possible and use HTML5, CSS3, jQuery, and Bootstrap with our own custom templates.</p>
                <p class ="short-form-answer">As far as control goes, our founder still functions as our artistic director, and as an active founder in other startup companies, she makes sure to stay current in the ever-evolving tech world.</p>
                <p class="short-form-question">Where is it made?</p><p class ="short-form-answer">Though we are headquartered in New York City, we hire for talent and skill rather than location.</p>
                <p class="short-form-question">What kind of service do I get?</p><p class ="short-form-answer">Our founder is available by appointment and would love to speak with you.</p>
            </div>            
            <div class="text-center">
                <%= link_to "Order A Website Now", contact_us_path, class: "btn btn-default btn-lg" %>
            </div>            
        </div>
    </div><!-- end .row -->
</section><!-- end #center-main-section -->




<section class="padding">
	<div class="row animated fadeInDown delay-03s">
		<div class="text-left col-lg-offset-2 col-lg-8 col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-12">
			<div class="text-center">
				<%= image_tag("flaticons/flaticon-paint-website-Freepik-orange.png") %>
				<!-- icon edited from version found on flaticon.com from the artist known as Freepik -->
			</div>
			<h1 class="text-center">Website Building Platforms</h1>
			<p class="text-center"><strong>...a.k.a. Should you use a template or build from scratch?
				<br>
			(We will work with either, but prefer to build you a new site from scratch)</strong></p>
		</div>
	</div><!-- end .row -->
	<br>
	<div class="row animated fadeInUp delay-03s">
		<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
			<h3>Google Sites</h3>
			<ul>
				<li>Good for landing pages built fast with very minimal functionality.</li>
				<li>Allows you to embed certain news feeds and Google services into the site.</li>
				<li>Free, along with other paid G Suite packages.</li>
				<li>Very limited customization and functionality.</li>
			</ul>
			<p class="summary">Summary: Good for landing pages with Google features</p>
		</div><!-- end col -->
		<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
			<h3>Wix</h3>	
			<ul>
			    <li>Drag and drop functionality CMS (content management system).</li>
			    <li>Wix Developer allows some basic customization.</li>
			    <li>Monthly subscription fee for hosting and a custom domain.</li>
			    <li>Can add apps to the site for functionality.  Most apps are free.</li>
			    <li>Paid plans can use commerce stores, using third party apps.</li>
			    <li>Can process payments through PayPal or Authorize.net.</li>
			    <li>Limited functionality. The most complex item you can run is a basic store.</li>
			    <li>Not mobile responsive, only mobile adaptive. Will not look good on every device width.</li>
			</ul>
			<p class="summary">Summary: Fine for quickly getting common-looking business brochure sites up and running.</p>
		</div><!-- end col -->
		<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
			<h3>SquareSpace</h3>
			<ul>
			    <li>Easy to set up from the start</li>
			    <li>To process online payments, they require you to use the Stripe payment gateway - cannot use PayPal or your other preferred vendor.</li>
			    <li>Not as great with SEO, though you can edit your content and your titles.</li>
			    <li>Beautiful templates that are mobile responsive by default.</li>
			    <li>Easy to add functionality into an existing template.</li>
			    <li>Can run a full e-commerce store on this platform.</li>
			    <li>Monthly subscription for hosting.</li>
				<li>Hosting, domain, template, and CMS are all included in one price - no upsells for components.</li>
			</ul>	
			<p class="summary">Summary: Recommended for simple to moderate online stores or business brochure websites, when a CMS is desired.</p>
		</div><!-- end col -->		
		<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
			<h3>WordPress</h3>
			<ul>
				  <li>No drag and drop design functionality.  A little complicated to set up for most people.</li>
				  <li>Most popular because it’s been around the longest.</li>
				  <li>Free for the WordPress software, but you’ll need to purchase hosting, a domain, to install the software, to choose a template (the better ones are not free), and choose plugins for added functionality.</li>
				   <li>Functionality plugins are not made by any unified standard, but there are many options.</li>
				    <li>Plugins for online stores, with several payment processor options.</li>
				    <li>Plugins for SEO, some very well made.</li>
				    <li>Monthly subscriptions for these plugins can add up in price as a site accumulates features.</li>
				    <li>Open source - code is easy to break if you are not a developer.</li>
			</ul>
			<p class="summary">Summary: Best choice for a very highly customized site with a lot of functionality AND a CMS. Have a developer on your team to help.</p>
		</div><!-- end col -->	
		<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
			<h3>Shopify</h3>
			<ul>
			    <li>Easy to get started out of the box - can get started with the basics in an hour or less.</li>
			    <li>Decent template designs.</li>
			    <li>Templates and hosting included in subscription.</li>
			    <li>Hosting and monthly fees are significant.</li>
			    <li>SEO is not as great as WooCommerce with WordPress.</li>
			    <li>Good for easily creating drop shipping stores.</li>
			    <li>To make substantial code edits to the store, knowledge of the coding language Liquid is required.</li>
			    <li>Shopify app store enables some additional functionality.</li>
			    <li>Store management interface for customer follow up.</li>
			    <li>Payment gateway and shipping details are automated for you.</li>
			</ul>	
			<p class="summary">Summary: Good for quickly creating and running a small to mid sized drop ship store with an extensive e-commerce back end.</p>
		</div><!-- end col -->
		<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
			<h3>Build it from scratch</h3>
			<ul>
				<li>Everything is customizable and you own the code.</li>
				<li>Your own domain on your hosting plan.</li>
				<li>One time design fee.</li>
				<li>No templated defaults - can spend time adding content rather than removing templated content.</li>
				<li>Maintain with your own developer or hire one like us on a monthly basis.</li>
				<li>Work directly with someone you trust, who knows your code inside and out.</li>
				<li>Price depends on your needs and the skill of your developer, but is always negotiable.</li>
			</ul>
			<p class="summary">Summary: Recommended for sites that either need limited updating (can be built and shipped once), or sites that require custom functionality.  New digital products and functional business back ends should be built custom.</p>
		</div>
	</div><!-- end row -->
    <div class="text-center">
        <%= link_to "Let's Get To Work", contact_us_path, class: "btn btn-default btn-lg" %>
    </div>

</section>