<section class="container">
	<div class="row">
		<div class="text-left col-lg-offset-2 col-lg-10 col-md-offset-2 col-md-10 col-sm-offset-1 col-sm-11 col-xs-12">
			<h1>What are my options for building a new website?</h1>
			<p><strong>There are custom sites and there are templated sites.</strong></p>
			<p>We prefer to build fully custom sites because we can control and customize all the code in the website, and it's cheaper for you to maintain per month.</p>
			<p>But if you prefer to have a content management system (CMS), below are our opinions of the most common ones...</p>
		</div>
	</div><!-- end .row -->

	<div class="row">
		<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
			<h2>Google Sites</h2>
			<p>Good for landing pages built fast with very minimal functionality.<br>Free?</p>
		</div><!-- end col -->
		<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
			<h2>Wix</h2>	
			<p>Good for brochure sites that come from templates. Wix developer allows custom functionality up to x. Monthly subscription to go live.</p>
			<p>Basic store capabilities.</p>
		</div><!-- end col -->
		<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
			<h2>WordPress</h2>	
			<p>Most popular because it’s the oldest. Written in PHP, many custom open source plugins have been made, often with goals that conflict each other (I.e. a calendar plugin that is not mobile responsive). Monthly subscriptions for these plugins can add up as a site accumulates features.</p>
	    	<p>Pre- designed templates available for sale that include example text and images - these example items need to be removed and customized for each new site, which adds time to the process.  We often see badly designed sites created here due to the amount of options available and the lack of customized guidance for clients.</p>
	     	<p>Best feature: includes a content management system (though we don’t like the interface of this CMS)</p>
		</div><!-- end col -->	
		<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
			<h2>SquareSpace</h2>	
			<p>Out of all the templating engines that provide a CMS, SquareSpace seems to create the most beautiful looking websites. However, we’ve gotten reviews from clients that their CMS does not provide as many custom options as they’d like.</p>
			<p>Monthly subscription for hosting and foenuse of their CMS.</p>
		</div><!-- end col -->
		<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
			<h2>Shopify</h2>	
			<p>Common starting place for people who want to build an ecommerce site. Has lots of out of the box solutions for different back end store capabilities, like drop shipping of screen printed shirts (store owner doesn’t manage inventory or logistics).  Because of being so well known, people end up using it for simpler sites than it was designed for, which just complicates their management of that site. </p>
		</div><!-- end col -->
	</div><!-- end CMS options section -->

</section>