<h2>Examples of Our Work</h2>

<p>We can do a redesign in several ways.</p>
<ol>
	<li id="example-project-types">
		<h3>Literal Mobile Responsive Redesign</h3>
		<p>We edit your existing code to make it fit within mobile responsive viewports.</p>
		<p><strong>The outcome:</strong> Your existing site design now looks good on mobile devices too.</p>
		<p>Example: Cravath, a New York Law Firm</p>
		<div>
			todo insert example links and images
		</div class="portfolio-image-section">
	</li>
	<li>
		<h3>Rapid Redesign</h3>
		<p>We build your new website from scrach, with a little help from our own customized code templates.</p>
		<p><strong>The outcome:</strong> You have a new, customized, mobile responsive simple website.</p>
		<p><i>Since we know the code so well, this can often happen with one week's development time.</i></p>
		<p>Example: AbCoaster - a simple ecommerce front end site</p>
		<div class="portfolio-image-section">
			todo insert example links and images
		</div>
	</li>
	<li>
		<h3>Fully Custom Redesign</h3>
		<p>Your site gets fully redesigned from scratch, with fresh code.</p>
		<p><strong>The outcome:</strong> This is the best way to make sure your site offers a unique experience.</p>
		<p>Example: Giles Marini - Television Actor</p>
		<div class="portfolio-image-section">
			todo insert example links and images
		</div>
	</li>
	<li>
		<h3>Template Engine Editing</h3>
		<p>If your site exists on a Shopify, Wix, Volusion, or WordPress platform, we go in directly and edit the code.</p>
		<p><strong>The outcome:</strong> Your site has a content management system and much of the maintenance is outsourced to the hosting company. The down side: Your site will retain much of the design it came with, rather than being fully customized to your brand.</p>
		<div class="portfolio-image-section">
			insert example of Gym Store

		</div>
	</li>
	<li>
		<h3>Fully Custom Web Application</h3>
		<p>Your site will be fully custom, with a customized front and and a functional back end.</p>
		<p><strong>The outcome:</strong> If you want to build a custom website with more than basic funcationality, this is the way to go.</p>
		<p>Example: Conscious Office - ecommerce storefront</p>
		<div class="portfolio-image-section">
			todo insert example links and images
		</div>
	</li>
	<li>
		<h3>Consultation only</h3>
		<p>We review your existing site and create written design recommendations for your existing designer to implement.</p>
		<p><strong>The outcome:</strong> You have a plan ready to execute when you are ready, and you can give this to any competent designer of your preference.</p>
		<p><i>This is the cheapest and fastest option of all the above, since we don't actually write any code here.</i></p>
	</li>
</ol>

<section>
	todo insert button to order
</section>




