<section>
    <h2 class="wow animated delay-11s fadeIn">How we keep the prices down</h2>

    <p>Unless you ask us to, we don't do:
        <ul>
            <li>drawn out sales pitches (to you)</li>
            <li>wireframes</li>
            <li>user focus groups</li>
            <li>full brand redesign</li>
            <li>exensive keyword research</li>
            <li>A/B Testing</li>
            <li>social media management</li>
            <li>content generation</li>
        </ul>
    </p>
    <p class="text-center">It's fast.&nbsp;&nbsp;If you contact us on Monday, your new site can be uploaded by Friday.</p>
</section>

<section id="pricing">
            <h2 class="wow animated delay-11s fadeIn">Compare Our Pricing</h1>
                <div class="row text-center">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="paragraph-text">
                            <p>comparsion 1</p>
                            <p>PROJECT TYPE</p>
                            <p>Their price: __</p>
                            <p>Our price: ___</p>
                        </div><!-- end .paragraph-text -->
                    </div>
                    <div class="col-md-4 col-md-4 col-xs-12">
                         <div class="paragraph-text">
                            <p>comparsion 2</p>
                            <p>PROJECT TYPE</p>
                            <p>Their price: __</p>
                            <p>Our price: ___</p>
                        </div><!-- end .paragraph-text -->

                    </div>
                    <div class="col-md-4 col-col-md-6 col-xs-12">
                        <div class="paragraph-text">
                            <p>comparsion 3</p>
                            <p>PROJECT TYPE</p>
                            <p>Their price: __</p>
                            <p>Our price: ___</p>
                        </div><!-- end .paragraph-text -->

                    </div>
                </div>
                <!-- todo link to how we keep costs down -->
            <div class="text-center">
                <%= link_to "Order A Project Now", new_order_path, class: "btn btn-default btn-lg white" %> 
            </div>
        </section><!-- end how we compare -->