<!-- subtitle for this page specifically -->
<% content_for(:subtitle) do %>Privacy and Terms<% end %>

<!-- begin page content -->
<h1>Privacy Policy &amp; Terms and Conditions</h1>

<p>Why is this page here?</p>
<p>We provide an easy-access payment portal on this site, so that customers can order a redesign quickly and painlessly.<br>
For legal reasons, we much inform you of how we intend to use that information.</p>

<h2>Privacy Policy</h2>

<p>TODO Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

<h2>Terms and Conditions</h2>

<p>TODO Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

<!-- button order a design now -->
<!-- button contact us directly with more questions or suggestions -->
<!-- todo button go back to index -->

