
<div class="thank-you-text">
	<h2>Thank you for your order.</h2>
	<h2>Yoru project has begun!</h2>

	<p>If for any reason we cannot take on your project, <br>
		we will first get in touch with you, <br>
		and then you will receive a full refund of your down payment. </p>

	<p>In the meantime, <!-- todo enjoy this funny story  --> follow us on social media or<br> <button class="btn btn-success">MODALContact Us Directly</button></p>

	<h3>Thank you for choosing<br>
	Responsive Redesign.</h3>
</div><!-- end .thank-you-text -->