<!-- subtitle for this page specifically -->
<% content_for(:subtitle) do %>Submission Confirmation<% end %>

<!-- begin page content -->
<div class="container text-center">
	<div>
		<h1>Thank you! <br>Your submission has been received.</h1>
		<p>We will be in touch with you shortly.</p>
		<p>If you're feeling rushed, we'd like to invite you to just go ahead and text us.</p>
	</div>
	<br>
	<div>
		<%= image_tag("smartphone_text.png") %>
		<!-- thse are color #FA8B49 -->
		<!-- <div>Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div> -->
		<h3>Text Us To Order Work Now</h3>
		<p>+1.917.727.7206</p>
	</div>	
</div><!-- end container -->
