 <section id="why-us">
    <h2 class="wow animated delay-11s fadeIn">What’s special about ResponsiveRedesign.io</h2>
    <ul class="row">
        <li class="col-md-4 col-sm-12 col-xs-12">

            <div class="section-icon-div">
                <%= image_tag('flaticons/icon-money-idea-orange.png', class: 'section-icon-size') %>
                <!-- Icon made by Freepik from www.flaticon.com and customized by Virgo Ventures LLC  -->
            </div>      

            <h3>Manged by Entrepreneurs</h3>
            <div class="paragraph-text">

                <p>We understand your business' goals, and we know how to help you <i>become the brand your customers are looking for.</i><!-- .orange -->
                </p>

                <p>We have personal experience in:<br>
                    <span class="indent-left">Real Estate, Product Supply and Distribution, Theatrics and Performance, Design and Artistic Work, Scientific Research, Startup company culture and Entrepreneurship, Social good business models, and more.</span>
                </p>
            </div><!-- end .paragraph-text -->
        </li><!-- end li.col -->    
        <li class="col-md-4 col-sm-12 col-xs-12">
            
            <div class="section-icon-div">
                <%= image_tag('flaticons/icon-checklist-6pt-orange.png', class: 'section-icon-size') %>
                <!-- Icon made by Freepik from www.flaticon.com  -->
            </div>

            <h3>We demand qualty</h3>
            <div class="paragraph-text">
                <p>We are all in business to do good work. <br>
                <i>Se let's only do good work.</i></p>
            </div><!-- end .paragraph-text -->

        </li><!-- end li.col -->
        <li class="col-md-4 col-sm-12 col-xs-12">

            <div class="section-icon-div">
                <%= image_tag('flaticons/icon-quickly-6pt-orange.png', class: 'section-icon-size') %>
                <!-- Icon made custom by Virgo Ventures LLC -->
            </div>

            <h3>We work quickly</h3>
            <div class="paragraph-text">
                <p>We will quickly lower your bounce rate and help speed up your customer acquisition process.</p>
                <p>Your site can be fully responsive, functional, and live in a week or less, often for a flat fee of $3,500, which is half the price of the market average.</p>
            </div><!-- end .paragraph-text -->
        </li>
    </ul><!-- end ul.row -->
</section>
<section id="testimonials">
    <div class="testimonital-text">

        <div class="section-icon-div">
            <%= image_tag('flaticons/icon-customer-story.png', class: 'section-icon-size') %>
            <!-- Icon made by Eucalyp from www.flaticon.com  -->
        </div>


        <h2 class="wow animated delay-11s fadeIn">Customer Reviews &amp; Testimonials</h2>
        <blockquote>
            <p>As a busy small business owner, creating a new website is a dramatic undertaking without professional help. I was recommended to Virgo Ventures (DBA Responsive Redesign) by a business associate and was not only pleased with the organization and planning of our personal contact, Alison but also the simplified way in which she explained what she was doing based on our wish list and IT needs.</p>
            <p>Our transition from old site to new was practically seamless and we have already seen a huge boost in our website traffic as well as reduction in band width usage.</p> 
            <p>At the end, we now have an amazing responsive website that functions as good as it looks. I would highly recommend Virgo Ventures for any website creation or update work.</p>
            <small>Christopher Kelly, President / Owner <a href="http://www.gymstore.com/Default.asp", target: "none">Gym Store Inc.</a></small>
            </p>
        </blockquote>
    </div><!-- each testimonial quote -->

</section>

        

        <!--  <section id="portfolio">
            <h2>Examples of Our Work</h2>
                <div class="row">
                    <div class="portfolio-item col-sm-4 col-xs-12">
                        <h3>Law Firm Company Site</h3>
                        <p>Before and after.</p>
                        <img class="img-responsive" src="">
                        <p class="site-details-preview"></p>
                        <div class="text-center">
                            <button class="btn btn-default text-center site-more-info">Project Details</button>                      
                        </div>
                    </div>                
                    <div class="portfolio-item col-sm-4 col-xs-12">
                        <h3>Custom Fitness Equipment</h3>
                        <p>Before and After (add before banner with 0.7 opacity to upper left of all before)</p>
                        <img class="img-responsive" src="">
                        <p class="site-details-preview"></p>  
                        <div class="text-center">
                            <button class="btn btn-default text-center site-more-info">Project Details</button>                      
                        </div>
                    </div>                
                    <div class="portfolio-item col-sm-4 col-xs-12">
                        <h3>Giles Marini - About the Actor</h3>
                        <p>Before and after.</p>
                        <img class="img-responsive" src="">
                        <p class="site-details-preview"></p>  
                        <div class="text-center">
                            <button class="btn btn-default text-center site-more-info">Project Details</button>                      
                        </div>                      
                    </div>
                </div>
        </section> --><!-- end examples section -->