/*note: bootstrap breakpoints are as follows

xs and mobile
tiniest to 767px

small and tablet
768px - 991px

medium and desktop
992px - 1199px

large and desktop
1200px and up

*/

$gray-background: rgba(63,67,64,1.0);
$dark-purple: #4c3257;
$orange: rgba(255,153,0,1.0);
$gray-text: #aaa;

a {
	color: rgba(255,153,0,1.0);/*the site's theme pop color - orange*/
}
a:hover {
	color: rgba(229,137,0,1.0); /* 1 darken of the site's theme pop color - orange*/
	/*color: rgba(204,122,0,1.0);*/
	/* 2 darken of the site's theme pop color - orange*/
	text-decoration: none !important;
	color: rgba(255,153,0,1.0) !important;
}
.banner-area {
	overflow: hidden;
	height: 320px;
	/*background: #eee;*/
	background-image: image-url('topography.png');
	box-shadow: 0 0 5px #dddddd;
}
body {
	font-family: Arial;
}
#brand {
	position: relative;
	top: 20;
	left: 20;
}

h2, h3, h4 {
	text-align: center;
}

li {
	font-size: 16px;
}
main, footer {
	top: 100px;
	width: 100%;
	position: relative;
}

/* GENERAL - DEFAULT PAGE STYLES */

@media only screen and (min-width: 500px) {
	.no-wrap {
		white-space: nowrap;
	}
	// only keeps text on the same line for larger than mobile screens
}
@media only screen and (max-width: 767px) {
	main {
		h1, h2 {
			text-align: center;
		}
	}
	.banner-area {
		text-align: center;
		h2 {
			text-align: center;
		}
	}
}
@media only screen and (min-width: 768px) {
	.banner-area {
		text-align: center;
		h2 {
			text-align: center;
		}
	}
}
// for wider than sm and xs screens
@media only screen and (max-width: 991px) {

}// end media query for larger than tablet
.border-top {
	margin-top: 40px;
	border-top: 1px solid $gray-text;
}
.btn-default {
	font-style: Helvetica;
	margin: 20px;
	background-color: $orange !important;
	color: white !important;
	outline: none;
	border: 1px solid $orange !important;
	border-radius: 1px !important;
}
.btn-default:hover {
	color: white !important;
	transition: ease-in 0.1s;
	border-radius: 0px;
	background-color: darken($orange, 10%) !important;
	outline: none;
	border: 1px solid $orange;
	a {color: white !important}
}
.btn-default:active, .btn-default:focus, .btn-default:target, .btn-default:visited {
	background-color: $orange !important;
	outline: none;
	border: 1px solid rgba(255,153,0,1.0) !important;
	color: white !important;
	text-decoration: none;
	a {color: white !important}
}
.border-default:hover, .border-default:active, .border-default:focus {
	outline: none;
	border-radius: 0px;
	background-color: rgba(255,153,0,0.8) !important;
}
.border-default:visited {
	a {
		color: $orange;
	}
}
.indent-left {
	padding-left: 10px;
}
.opaque-overlay {
	width: 100%;
	height: 100%;
	/*background-color: rgba(255,255,255,0.6);*/
	.inner-container {
		padding: 50px 30px 10px 30px;
	}
}
.padding {
	padding: 20px;
}
.section-icon {
	text-align: center;
	color: $orange;
}// for flaticons
.social-icon-container i {
	color: rgba(229,137,0,0.6);
	font-size: 26px;
}
.social-icon-container i:hover {
	color: rgba(229,137,0,1.0);
}
.un-button {
	background: transparent;
	border: none;
	box-shadow: none;
	outline: none;
}
.un-button:hover, :active, :focus {
	color: rgba(229,137,0,1.0);
	border: none;
	box-shadow: none;
	outline: none;
}
.white {
	color: white !important;
}
.white:hover, .white:active, .white:visited {
	color: white !important;
}


/* ----------------
	BEGIN STYLES FOR SPECIFIC PURPOSE GROUPS
 ------------ */

/* FAQ */

.question {
	font-size: 20px;
	padding-top: 20px;
	padding-bottom: 5px;
}

.answer {
	font-size: 18px;
	color: $gray-text;
	padding-left: 25px;
}

.unstyled-questin {

}
.unstyled-answer {
	display: none;
}

/* DROP ARROW TOGGLE */

.after-toggle {
	display: none;
	// for initially hiding down angle in dropdown toggle web_dev web_rates
}
.answer {
	display: none;
}
 /* FORMS AND THEIR INPUTS */

form { 
	max-width: 700px;
	margin: 0 auto;
	width: 100%;
	font-size: 16px;
	// put .form-checkbox on all checkboxes
	input.form-checkbox {
		height: 20px !important;
		width: 20px !important;
		padding: none;
		margin: none !important;
		border: 1px solid $orange;
		border-radius: 0px;
		position: relative;
		top: 5px;
	}
	.form-checkbox:active, .form-checkbox:focus, .form-checkbox:checked {
		// color
	}
	.form-group:active, .no-border:active {
		border-top: none !important;
		border-left: none !important;
		border-right: none !important;
		border-bottom: none !important;
		outline: none !important;
	}
	// put .form-select onto drop down selections
	.form-select {
		width: 100%;
		height: 35px;
		font-size: 16px;
		border-radius: 0px !important;
		border: 2px solid #eee;
		background-color: transparent;
	}
	.form-select:focus {

	}
	// put .text-input on input fields, both textfields and textareas
	.text-input {
		border-radius: 0px;
		width: 100%;
		height: 30px;
		border-top: 0;
		border-left: 0;
		border-right: 0;
		outline: none;
	}
	.text-input:active, .text-input:focus, .text-input:hover, .text-input:active, .text-input:visited {
		border-radius: 0px;
		width: 100%;
		border-top: 0 !important;
		border-left: 0 !important;
		border-right: 0 !important;
		border-bottom: 1px solid $orange;
		box-shadow: none;
	} 
	textarea.text-input {
		border-radius: 0px;
		width: 100%;
		border: 1px solid #eee;
		height: 70px;
		overflow: scroll;
	}
	textarea.text-input:focus, textarea.text-input:active {
		border: 1px solid $orange;
	}
	.submit-button {
		width: 250px;
		color: white;
		// color: white;
		margin: 0 auto;
		height: 50px;
		font-size: 18px !important;
		text-align: center;
		background-color: $orange !important;
		// border: 1px solid $dark-purple !important;
	}
	.submit-button:hover, .submit-button:active, .submit-button:focus, .submit-button:visited {
		background-color: white !important;
		color: $orange !important;
		transition: 0.2s ease;
		border: 1px solid $orange !important;
		outline: none !important;
		box-shadow: none;
	}
	.submit-button-div {
		text-align: center;
	}
}
.padding {
	padding: 30px;
}

/* FOOTER */
footer {
	padding: 40px;
	text-align: center;
	font-size: 16px;
}

