    <!-- below is for modal inner text -->
    <div class="modal fade" id="contactUsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Contact Us Directly</h4>
          </div>
          <div class="modal-body text-center black-text">
	        <p>Phone: <span class="orange">917.727.7206</span><br>
            Yes, we text.</p>

    			<p>or</p>
    			<p>Email: <span class="orange">code@responsiveredesign.io</span></p>
             
     
          </div>
          <div class="modal-footer">
            <p>We welcome your feedback!</p>
            <!-- <button type="button" class="btn btn-warning">Sign up!</button> -->
          </div>
        </div>
      </div>
    </div>
    <!-- above is for modal inner text -->