<footer>
	<h4 class="footer-logo"><%= link_to root_path do %>
			<%= image_tag('rr-logo.png') %>
		<% end %>
		<p class="hidden">Responsive Redesign</p>
	</h4>

	<div class="row">
		<div class="col-md-4">
			<p>Follow us on social<br>
				<%= render 'layouts/social_media' %>
			</p>
		</div>
		<div class="col-md-4">
			<%= link_to 'Order a Redesign', new_order_path, class: "un-button" %>
		</div>
		<div class="col-md-4">
			<p><button class="un-button" data-toggle="modal" data-target="#contactUsModal">Contact Us Directly</button><br>
			<!-- <button class="un-button" data-toggle="modal" data-target="#newsletterModal">Sign up for our Newsletter</button></p> -->
		</div>
	</div>
</footer>