<footer>
	<h1>This is the footer</h1>

	<div class="row">
		<div class="col-md-4">
			Col 1
		</div>
		<div class="col-md-4">
			Order a Redesign
		</div>
		<div class="col-md-4">
			<p>Follow us on Social</p>
			<p>Sign up for our Newsletter</p>
		</div>
	</div>
</footer>