<!-- begin text from coverr for cover video -->
<div class="homepage-hero-module">
    <div class="video-container">
        <div class="filter"></div>
        <video autoplay loop class="fillWidth">
            <source src="https://s3.us-east-2.amazonaws.com/rrbrandvideos/Workaholic.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
            <source src="https://s3.us-east-2.amazonaws.com/rrbrandvideos/Workaholic.webm" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
        </video>
        <div class="poster hidden">
            <img src="https://s3.us-east-2.amazonaws.com/rrbrandimages/Workaholic.jpg" alt="keyboard workaholic web design">
        </div>
    </div>
</div>
<!-- end cover video added text -->