<nav>
    <h1>
        <%= link_to "ResponsiveRedesign.io", root_path, id: "brand-text", class: "orange" %>
        <%= image_tag('rr-logo-white.png', id: 'nav-logo') %>
    </h1>
    <div id="xs_hamburger">
        <div id="hamburger_icon">
            <%= image_tag("list-menu.png") %>
        </div>
        <div id="menu_label">Menu</div>
    </div>
    <div id="nav_elements">
        <ul>
            <li alt="The Importance of Responsive Design"><a href="#why-responsive">Why&nbsp;Do&nbsp;I&nbsp;Need&nbsp;This?</a></li>
            <li alt="Do It Yourself - Responsive Redesign"><a href="#your-options">Your&nbsp;Options</a></li>
            <li><a href="#why-us">Why&nbsp;Us</a></li>
            <li alt="Cost"><a href="#pricing">Pricing</a></li>

            <!-- <li alt="Portfolio"><a href="#portfolio">Examples</a></li> -->
            <li><a href="#testimonials">Testimonials</a></li>
            <!-- <li alt="Mailing List"><button class="un-button white" data-toggle="modal" data-target="#newsletterModal">Newsletter&nbsp;&amp;&nbsp;Social</button></li> -->
            <li alt="Take Action"><%= link_to 'Order a Design Now!', order_path, class: "btn btn-sm btn-success" %></li>
        </ul>
    </div>
</nav>
