<span class="social-icon-container">
	<a href="https://twitter.com/ResponsiveRedzn" target="blank">
		<i class="fa fa-twitter-square" aria-hidden="true"></i>
	</a>
<!-- 	&nbsp;
	<a href="" target="blank">
		<i class="fa fa-linkedin-square" aria-hidden="true"></i>
	</a> -->
	<!-- &nbsp;
	<a href="" target="blank">
		<i class="fa fa-facebook-official" aria-hidden="true"></i>
	</a> -->
</span><!-- end .social-container -->