<!-- <link href="https://d1gwclp1pmzk26.cloudfront.net/agile/forms/v1/agile-form-min.css" rel="stylesheet"> -->
<form class="form-view agile-form-blck-transparent theme2" id="agile-form" action="https://responsiveredesign.agilecrm.com/formsubmit" method="GET">
<fieldset>

<!-- Form Name -->
<!-- <legend class="agile-hide-formname">Order A Website</legend> -->
<div style="display: none; height: 0px; width: 0px;">
  <input type="hidden" id="_agile_form_name" name="_agile_form_name" value="Order A Website">
  <input type="hidden" id="_agile_domain" name="_agile_domain" value="responsiveredesign">
  <input type="hidden" id="_agile_api" name="_agile_api" value="sm9g13umrh80rqp5md144hmoq1">
  <input type="hidden" id="_agile_redirect_url" name="_agile_redirect_url" value="http://www.responsiveredesign.io/submission_confirmation">
  <input type="hidden" id="_agile_document_url" name="_agile_document_url" value="">
  <input type="hidden" id="_agile_confirmation_msg" name="_agile_confirmation_msg" value="">
  <input type="hidden" id="_agile_form_id_tags" name="tags" value="rr-online-form">
       <input type="hidden" id="_agile_form_id" name="_agile_form_id" value="5750790484393984">
</div>
<!-- Text input-->
<div>
  <!-- <label for="agilefield-1">Enter Name<span class="agile-span-asterisk"> *</span></label> -->
  <div>
  <input maxlength="250" id="agilefield-1" name="first_name" type="text" placeholder="Your Name *" required="">
  </div>
  <div class="agile-custom-clear"></div>
</div>
<!-- Text input-->
<div>
  <!-- <label class="agile-label" for="agilefield-2">Enter  Email<span class="agile-span-asterisk"> *</span></label> -->
  <div>
  <input maxlength="250" id="agilefield-2" name="email" type="email" placeholder="Your Email Address *" class="agile-height-default" required="">
  </div>
  <div class="agile-custom-clear"></div>
</div>
<!-- Text input-->
<div>
  <!-- <label class="agile-label" for="agilefield-4">Phone Number</label> -->
  <div>
  <input maxlength="250" id="agilefield-4" name="phone" type="text" placeholder="Your Phone Number">
  </div>
  <div class="agile-custom-clear"></div>
</div>
<!-- Multiple Radios -->
<div>
  <label for="multiple_radios_1486467745519">Can we text the phone number above?</label>
  <div>
  <div>
    <label for="multiple_radios_1486467745519-0">
      <input type="radio" name="note" id="multiple_radios_1486467745519-0" value="Yes" checked="checked"><i></i>
      Yes
    </label></div>
  <div>
    <label for="multiple_radios_1486467745519-1">
      <input type="radio" name="note" id="multiple_radios_1486467745519-1" value="No"><i></i>
      No
    </label></div>
  </div>
</div>

<!-- Text input-->
<div class="required-control">
  <!-- <label class="agile-label" for="agilefield-5">Current Website<span class="agile-span-asterisk"> *</span></label> -->
  <div>
  <input maxlength="250" id="agilefield-5" name="agilefield-5" type="text" placeholder="Your current website link, or a description of your idea" required="">
  </div>
  <div class="agile-custom-clear"></div>
</div>
<!-- Select Basic -->
<div>
  <label for="agilefield-6">Type of Work You're Interested In</label>
  <div>
    <select id="agilefield-6" name="note">
      <option value="">Select</option>
      <option value="1. Literal Redesign">1. Literal Redesign</option>
      <option value="2. Rapid Redesign">2. Rapid Redesign</option>
      <option value="3. Fully Custom Redesign">3. Fully Custom Redesign</option>
      <option value="4. Template Editing">4. Template Editing</option>
      <option value="5. Fully Custom Web Application">5. Fully Custom Web Application</option>
      <option value="6. Design Consultation">6. Design Consultation</option>
      <option value="6. Design Consultation">7. Other</option>
    </select>
  </div>
</div>

<!-- Text input-->
<div>
  <!-- <label class="agile-label" for="agilefield-7">Referred by</label> -->
  <div>
  <input maxlength="250" id="agilefield-7" name="note" type="text" placeholder="Referred by?">
  </div>
  <div class="agile-custom-clear"></div>
</div>
<!-- Textarea -->
<div>
  <!-- <label class="agile-label" for="agilefield-3">Comments</label> -->
  <div>
    <textarea maxlength="250" id="agilefield-3" name="note" placeholder="Additional notes"></textarea>
  </div>
  <div class="agile-custom-clear"></div>
</div>

<!--recaptcha aglignment-->
<!-- Button -->
<div>
  <!-- <label class="agile-label">&nbsp;</label> -->
  <div>
    <button class="btn btn-default btn-lg" type="submit">Send</button>
    <br><span id="agile-error-msg"></span>
  </div>
</div>

</fieldset>
</form>
<script type="text/javascript">
(function(a){var b=a.onload,p=false;isCaptcha=false;if(p){a.onload="function"!=typeof b?function(){try{_agile_load_form_fields()}catch(a){}}:function(){b();try{_agile_load_form_fields()}catch(a){}}};var formLen=document.forms.length;for(i=0;i<formLen;i++){if(document.forms.item(i).getAttribute("id")== "agile-form"){a.document.forms.item(i).onsubmit=function(a){a.preventDefault();try{_agile_synch_form_v5(this)}catch(b){this.submit()}}}}})(window);
</script>
<div class="clearfix"></div>