<!-- for code that we may want to use in the future -->

<section id="why-responsive">
    <div class="row">
        <div class="lighter-background-1 full-width-area">
            <h3>Static&nbsp;Websites Damage&nbsp;Sales</h3>
            <br>
            <div class="paragraph-fact">
                <p><span class="funky-font-styling">55%</span><br> 
                    of all e-commerce interactions <br>
                    take place on smartphones</p>
            </div><!-- end .paragraph-text -->
            <div class="paragraph-fact">
                <p><span class="funky-font-styling">69%</span><br> of customers prefer to order online <br>than over the phone </p>
            </div><!-- end .paragraph-text -->
            <div class="paragraph-fact">                
                <p><span class="funky-font-styling">50%</span><br> of customers
                    actually leave a site <br>
                    when they see it's<br> 
                not mobile responsive</p>
            </div><!-- end .paragraph-text -->
            <div class="paragraph-fact">
                <p><span class="funky-font-styling">1&nbsp;/&nbsp;3</span><br> 
                    of customers
                    abandon a purchase <br>
                    due to the annoyance <br>
                    of static sites</p>
            </div><!-- end .paragraph-text -->
        </div>
        <div class="lighter-background-2 full-width-area">
            <h3>Benefits&nbsp;Of Responsive&nbsp;Websites</h3>
            <br>
            <span class="near-white">
                <div class="paragraph-fact lean-left">
                    <p>Reduce your <br>
                        <span class="funky-font-styling-2">bounce rate</span> <br>
                        to less than 20%</p>
                </div><!-- end .paragraph-text -->
                <div class="paragraph-fact lean-right">
                    <p>Customers see you <br>
                        as a <span class="funky-font-styling-2">modern</span> company.</p>
                </div><!-- end .paragraph-text -->
                <div class="paragraph-fact lean-left">                
                    <p>Customers can interact <br>
                        with you <span class="funky-font-styling-2">impulsively</span>, <br>
                        wherever they are.</p>
                </div><!-- end .paragraph-circle -->
            </span><!-- end span.near-white -->
        </div><!-- end .col -->
    </div><!-- end .row -->
</section><!-- end #why-responsive -->